# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore swap files
*.swp
*swp

# Unignore all dirs
!*/

# Unignore Makefiles
!Makefile

# Ignore build and install dirs
build/
install/

# Ignore example dir with old code
examples/

# Ignore eclipse project files
.project
.cproject