# Ignore all 
*

# Unignore all with extensions
!*.*

# Ignore swap files
*.swp
*swp

# Ignore o files
*.o

# Unignore all dirs
!*/

# Unignore Makefiles
!Makefile

# Ignore build and install dirs
build/
install/

# Ignore old code
attic/

# Ignore eclipse project files
.project
.cproject
